/* styles.css */

body {
    font-family:'Times New Roman', Times, serif
    
  }
  
  h1 {
    color: #210619;
    text-align: center;
  }
  
  #taskList {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: #ecaceb;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 0; 
 
  }
  
  button {
    background-color: #e309b8;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px; 
    
    

  }
  
  button:hover {
    background-color: #db52cd;
  }
  
  input {
    border-radius: 5%;
    border:none;
    height: 50%;
    width: 50%;
    background-color:rgba(241, 238, 241, 0.9);
  }